@import "variables";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover,
  &:visited {
    color: inherit;
  }
}

body {
  overflow-x: hidden;
}

.button {
  @include button;
}

.container {
  @media #{$sm} {
    max-width: 430px;
  }
  @media #{$md} {
    max-width: 770px;
  }
}

.content {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 100px;
  padding: 100px 15px 15px 0px;

  &.home {
    background-color: #000;
    color: invert($color: #000000);
  }
}
