@import "variables";

.container {
  @media #{$sm} {
    max-width: 430;
  }
  @media #{$md} {
    max-width: 770;
  }
  margin: 0 auto;
}

.content {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 100px;

  &.home {
    background-color: #000;
    color: invert($color: #000000);
  }
}
