.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
  // stops header from shifting when switching classes

  @media #{$sm} {
    transform: translateX(2%);
  }
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
}

header#header {
  z-index: 10;
  padding: 15px;
  width: 100%;
  background-color: $headerBackgroundColor;
  color: $headerColor;
  transition: background-color 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #menuButton {
    height: 60px;
    width: 75px;
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;

    span.bar {
      display: block;
      width: 100%;
      height: 4px;
      border-bottom: 3px solid $headerColor;
      transform: skew(-45deg);
      transition: top 0.5s;
      top: 5px;
      left: 0px;
      &.show {
        top: 0px;
      }
      &:last-child {
        top: 15px;
        &.show {
          top: 20px;
        }
      }
    }
  }

  @media #{$sm} {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    a#logo {
      margin-top: 4rem;
      order: 2;
      img {
        width: 135px;
        height: 20px;
      }
    }
    span.bar {
      position: absolute;
    }
    button#menuButton {
      order: 1;
      position: absolute;
    }
  }
}
