nav#navigation {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  background-color: $navigationBackgroundColor;
  transition: opacity 0.5s;

  ul {
    list-style: none;
    font-size: 3rem;
    transform: translateY(100%);
    li {
      text-align: center;
      button {
        color: #fff;
        font-family: "Amatic SC", cursive;
      }
    }
  }
}
