.repository {
  overflow: hidden;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  font-size: 15px;

  * {
    white-space: nowrap;
  }

  header {
    padding: 0.5rem;
    background-color: #2c3033;
    border: 1px solid #2c3033;

    h5 {
      display: flex;
      justify-content: space-between;

      a {
        white-space: nowrap;

        margin-left: 0.5rem;
        border-bottom: 1px solid #fff;
      }
    }
  }
  .inner {
    padding: 1rem;
    background-color: #161e24;
    border: 1px solid #2c3033;

    .details {
      p {
        display: flex;
        justify-content: space-between;
        padding: 0.25rem 0;
        label {
          font-weight: 900;
        }
      }
    }
  }
  .commits {
    .header {
      font-family: "Amatic SC", cursive;
      font-size: 3rem;
      padding: 1rem;
      text-align: center;
    }
    background-color: #161e24;
    li {
      display: flex;
      justify-content: space-between;

      padding: 1rem;
      border-bottom: 2px solid #2c3033;
      .message {
        font-weight: 900;
        &:hover {
          color: rgb(0, 255, 159);
          border-bottom: 1px solid rgb(0, 255, 159);
        }
      }
      a.author {
        display: flex;
        align-items: flex-end;
        img {
          margin-top: 0.5rem;
          padding: 0.25rem;
        }

        time {
          padding-left: 0.5rem;
          font-size: 14px;
        }
      }
    }
    .button {
      border: 1px solid #fff;
      color: #fff;
      padding: 0.5rem 1rem;
      transition: background-color 0.5s;
      cursor: pointer;

      &:hover {
        background-color: rgb(0, 255, 159);
        color: #333;
      }
    }
  }
}
