.slider {
  overflow: hidden;
  display: flex;
  padding: 1rem 0;

  .item {
    transition: transform ease-out 1s;
    border-right: 1px solid #000;
    padding: 5px;
    border-radius: 4px;
  }

  .nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    button {
      @include button;
      padding: 0.25rem;
      margin: 0 0.25rem;

      svg {
        font-size: 1.5rem;
        // opacity: 0.25;
        color: $navigationBackgroundColor;
      }
    }
  }
}
