//media
$sm: "(max-width: 450px)";
$md: "(max-width: 800px)";
$lg: "(min-width: 801px)";

// colors
$headerBackgroundColor: transparent;
$headerColor: #fff;
$navigationBackgroundColor: #0d9ddb;
$homeBackgroundColor: #000;
